.card {
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 255px;





    &__img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: inherit;
        filter: grayscale(10%) opacity(90%) brightness(0.7);


    }

    &__title {
        z-index: 1;
        position: absolute;
        bottom: 1px;
        left: 10px;
        color: white;
    }
}

article {
    width: 33%;
    padding: 20px;

}