.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    

    &__img{
        margin-top: 66px;
        margin-bottom: 29px;
        height: 39px;
      width: 122px;
color: white;

    }

    &__right {
        color: white;
        margin-bottom: 29px;
    }
}