* {

    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  body {
padding-top: 45px;
margin: 0;
  }

 main {
  padding-left: 100px;
  padding-right: 100px;

  }

  a {
    text-decoration: none;
}