.about {
    display: flex;
    width: 100%;
    padding-top: 25px;
    flex-direction: column;

    &__collapse {
        margin-bottom: 20px;

        &__content {
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.pageAbout {
    min-height: 69vh;
}