.banner {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 223px;
  margin-bottom: 43px;
}
.banner__image {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: grayscale(1%) opacity(90%) brightness(0.55);
}
@media screen and (min-width: 1024px) {
  .banner__image {
    border-radius: 25px;
  }
}
@media screen and (max-width: 480px) {
  .banner__image {
    height: 250px;
  }
}
.banner__title {
  width: 100%;
  top: 40%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 38px;
}
@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .banner__title {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
  }
}

.header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-left: 40px;
  padding-right: 70px;
}
@media screen and (max-width: 675px) {
  .header {
    justify-content: center;
  }
}
.header__logo {
  width: 11rem;
}
@media screen and (max-width: 675px) {
  .header__logo {
    width: 10rem;
    justify-content: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.footer__img {
  margin-top: 66px;
  margin-bottom: 29px;
  height: 39px;
  width: 122px;
  color: white;
}
.footer__right {
  color: white;
  margin-bottom: 29px;
}

.nav {
  padding-top: 20px;
  display: flex;
  gap: 57px;
}
@media screen and (max-width: 475px) {
  .nav {
    gap: 30px;
  }
}
.nav__link {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
.nav__link:hover {
  text-decoration-line: underline;
}
.nav .nav__link.active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

main {
  padding-left: 70px;
  padding-right: 70px;
}

a {
  text-decoration: none;
}

.gallery__layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 25px;
  background: #F6F6F6;
  padding-top: 25px;
}
@media screen and (max-width: 789px) {
  .gallery .gallery__layout {
    background-color: white;
    width: 100%;
  }
  .gallery .gallery__cards {
    width: 100%;
  }
}

@media (max-width: 789px) {
  main {
    padding: 0;
  }
  main,
  .header {
    padding-left: 25px;
    padding-right: 25px;
  }
  .header {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .header {
    justify-content: center;
  }
}
.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__container__number {
  font-size: 155px;
  font-weight: 700;
  color: #ff6060;
  height: 150px;
}
.error__container__text {
  color: #ff6060;
  padding-bottom: 85px;
}
.error__container__link {
  color: black;
  padding-bottom: 85px;
}
.error__container__link:hover {
  text-decoration: underline;
}

@media (max-width: 789px) {
  .error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .error__container__number {
    font-size: 96px;
  }
}
.collapse {
  margin-top: 48px;
  display: flex;
}
.collapse__content {
  background-color: rgb(246, 246, 246);
  color: #ff6060;
  border-radius: 0px 0px 5px 0px;
  padding-left: 15px;
}
.collapse__layout {
  position: relative;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.collapse__title {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 15px;
}
.collapse .collapse h2 {
  padding: 0;
  margin: 0;
}
.collapse .collapse span {
  margin-top: 0;
  padding-top: 0;
}

.fa-chevron-up,
.fa-chevron-down {
  position: absolute;
  right: 15px;
  top: 23px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 20px;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 280px;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .card { /* Utilisation d'une valeur fixe pour le breakpoint */
    width: 350px;
    height: 280px;
    border-radius: 25px;
  }
}
.card:hover {
  transform: scale(1.05);
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  object-fit: cover;
  filter: grayscale(10%) opacity(90%) brightness(0.7);
}
@media screen and (max-width: 768px) {
  .card__img {
    width: 100%;
    min-width: 100px;
  }
}
.card__title {
  position: absolute;
  top: 70%;
  left: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .card__title { /* Utilisation d'une valeur fixe pour le breakpoint */
    font-size: 24px;
  }
}

.carrousel {
  position: relative;
}
@media screen and (max-width: 750px) {
  .carrousel {
    padding-top: 30px;
  }
}
.carrousel__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 410px;
  border-radius: 25px;
  transition: opacity ease-in-out 0.2s;
}
.carrousel__arrow {
  position: absolute;
  border-radius: 25px;
  top: 50%;
  z-index: 1;
  color: white;
}
.carrousel__leftarrow {
  left: 20px;
}
.carrousel__rightarrow {
  right: 20px;
}
.carrousel__indicator {
  color: white;
  position: absolute;
  bottom: 1%;
  left: 50%;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .carrousel .fa-4x {
    font-size: 2em;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading p {
  margin-left: 10px;
  font-size: 1.2em;
}

.logement__container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 100%;
  padding-bottom: 35px;
}
@media screen and (max-width: 750px) {
  .logement__container {
    display: inherit;
    width: 100%;
  }
}
.logement__container__title__h1 {
  color: #ff6060;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 335px) {
  .logement__container__title__h1 {
    font-size: 14px;
  }
}
.logement__container__title__p {
  color: black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 50px;
}
.logement__container__tags {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 750px) {
  .logement__container__tags {
    display: inherit;
  }
}
.logement__container__rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .logement__container__rate {
    display: inherit;
  }
}
.logement__container__rate__host {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .logement__container__rate__host {
    justify-content: flex-end;
    padding-top: 20px;
  }
}
.logement__collapse {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 76px;
  padding-bottom: 35px;
}
.logement__collapse__container {
  width: 100%;
}
.logement__collapse .collapse__content p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 750px) {
  .logement__collapse {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.host {
  margin-right: 10px;
  text-align: right;
  width: 93px;
  font-size: 18px;
  color: #ff6060;
}
.host__img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.rate__star {
  width: 24.75px;
  height: 24px;
  margin-right: 5px;
}

.about {
  display: flex;
  width: 100%;
  padding-top: 25px;
  flex-direction: column;
}
.about__collapse {
  margin-bottom: 20px;
}
.about__collapse__content {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pageAbout {
  min-height: 69vh;
}

.logement__container__tags {
  display: flex;
}
@media screen and (max-width: 335px) {
  .logement__container__tags {
    flex-direction: column;
  }
}
.logement__container__tags__layout {
  background: #ff6060;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
}
@media screen and (max-width: 730px) {
  .logement__container__tags__layout {
    min-width: 86px;
  }
}
.logement__container__tags__layout__button {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 730px) {
  .logement__container__tags__layout__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .logement__container__tags__layout__button {
    font-size: 10px;
  }
}/*# sourceMappingURL=app.css.map */