@media (max-width: $breakpoint-tablette) {

    main {
        padding: 0;
    }

    main,
    .header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .header {

        flex-wrap: wrap;
    }

    .banner {

        &__title {
            padding-left: 15px;
            padding-top: 0px;
            display: flex;
            flex-wrap: wrap;
            top: 50px;

        }
    }

    .gallery {

        &__layout {
            background-color: white;
            width: 90%;
        }

        &__cards {
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .header {
        justify-content: center;
    }

    .banner {

        &__title {
            position: absolute;
            top: 10px;
        }
    }
}

@media (max-width: 330px) {

    .banner {

        &__image {
            height: 355px;
        }

        &__title {
            position: absolute;
            top: 45px;
        }
    }

}