.carrousel {
    position: relative;
    @media screen and (max-width: 750px) {
       padding-top: 30px;
     }
    &__image {
        width: 100%;
        object-fit: cover;
        height: 410px;
        border-radius: 25px;
        transition: opacity ease-in-out 0.2s;
    }

    &__arrow {
        position: absolute;
        border-radius: 25px;
        top: 50%;
        z-index: 1;
        color: white;
    }

    &__leftarrow {
        left: 20px;
    }

    &__rightarrow {
        right: 20px;
    }

    &__indicator {
        color: white;
        position: absolute;
        bottom: 1%;
        left: 50%;
        text-align: center;
    }
    @media screen and (max-width: 860px) {
        .fa-4x {
          font-size: 2em; 
        }

}

}